[submodule "work/SpecialSource"]
    path = work/SpecialSource
    url = https://github.com/OpticFusion1/SpecialSource
[submodule "work/FernFlower"]
    path = work/FernFlower
    url = https://github.com/OpticFusion1/fernflower
